.gradle-local/
builds/
/ios
/android
android/app/google-services.json
android/app/build/
android/.gradle/
android/build/
android/app/.cxx/
screenshots/
node_modules/
**/android/build/
**/android/.cxx/
**/.cxx/
