# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.keystore
!android/app/debug.keystore
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env

# EAS local credentials
credentials.json
credentials/

# typescript
*.tsbuildinfo

# Build outputs
*.apk
*.aab
android/app/build/
android/build/
ios/build/
ios/Pods/
ios/.xcode.env.local

# iOS - CocoaPods and dependencies
ios/Pods/
ios/Podfile.lock
ios/*.xcworkspace
ios/*.xcuserdata
ios/DerivedData/
ios/*.hmap
ios/*.ipa
ios/*.xcuserstate

# iOS - Xcode
ios/**/xcuserdata/
ios/**/DerivedData/
ios/**/*.pbxuser
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/**/*.perspectivev3
ios/**/*.xccheckout
ios/**/*.moved-aside

app-example

# PocketBase
pocketbase
pocketbase.exe
pb_data/
pb_migrations/
